@font-face {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Graphik-Regular-Web.woff') format('woff');
}
@font-face {
  font-family: 'Graphik Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Graphik-Medium-Web.woff') format('woff');
}
